/*@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Roboto+Serif:ital,opsz@1,8..144&family=Titillium+Web:ital,wght@0,200;0,300;1,300&display=swap");
 @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap"); */

/* body {
  font-size: small;
} */

/* @font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Raleway", sans-serif;
} */
